/*Login Design CSS*/

   #otherlogin {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        text-align: center;
}
    
    /* Clear floats (clearfix hack) */
#otherlogin:after {
  content: "";
  clear: both;
  display: table;
}

#otherlogin:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
#otherlogin:hover {
  background-color: #3e8e41;
}
    
        #otherlogin .a {
            text-decoration-color: aliceblue;
            color: white;
            
        }
    