#search {
  height: 50px;
  width: 50px;
  border: solid 1px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: 0.3s;
    background: url('https://api.iconify.design/mdi:book-search.svg') no-repeat center center / contain;
}

#search-input {
  height: 100%;
  width: 0px;
  font-size: 28px;
  font-weight: 600;
  background: none;
  color: #FFF;
  border: none;
  outline: 0;
  visibility: hidden;
  transition: 0.3s;
}

#search.active {
  width: 150px;
}

#search-input.active {
  width: 140px;
  margin-left: 16px;
  visibility: visible;
}